<ng-container *transloco="let t">
  <ng-container *ngIf="control.dirty && control.invalid">
    <div *ngFor="let error of getErrors()">
      <small *ngIf="error.value" class="p-invalid inputMsg">{{t('formValidators.' + error.keyError)}}</small>
    </div>
  </ng-container>
</ng-container>
