<div class="dashboard">
  <div class="dashboard__header">
    <div class="dashboard__header__logo">Logo</div>
    <div class="pageTitle"><h2>title</h2></div>
    <div class="dashboard__header__buttons" (click)="handleLogout()">Logout</div>
  </div>

  <div class="dashboard__container">
    <div class="dashboard__menu">
      <p-panelMenu [model]="menuItems" class="dashboard__menu__panel"></p-panelMenu>
    </div>

    <div class="dashboard__content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
